a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: "Poppins", serif;
    background-color: #fff;
    color: #22343d;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {}

.header-container {
    display: flex;

}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
        line-height: 1.75;
        padding: 26px 0;
        display: block;
}
.current{
    font-weight: 600;
}

.header-list-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 21px;
}

.header-btn {
    border-radius: 4px;
        min-width: 105px;
        height: 42px;
        font-weight: 600;
            font-size: 16px;
            text-align: center;
}
.header-btn-in{
    border: 1px solid #bcd0e5;
    background-color: transparent;
    color: #173a56;
}
.header-btn-up{
    border: none;
    background-color: #02897a;
    color: #fff;
}